<div class="article-footer clearfix" style="background: #fafafa; padding: 0 4%;">
		<div class="article-catetags">
			<div class="article-categories" style="padding: .5em 0; float: left;">
			  <i class="fa fa-folder"></i>
			  {% for category in page.categories %} 
			  <a class="article-category-link" href="/categories/{{ category }}/">{{ category }}</a>
			  {% endfor %}
			</div>
			
			<div class="article-tags" style="padding: .5em 0; float: left;">
			  <i class="fa fa-tags"></i>
			  {% for tag in page.tags %} 
			  <a href="/tags/{{ tag }}/">{{ tag }}</a>
			  {% endfor %}
			</div>
		</div>
	</div>

