<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 aside aside1 visible-md visible-lg">
      <br>
      <a class="pjaxlink" href="/index.html"><img src="{{ site.gavatar }}" class="img-rounded avatar"></a>
      <br><br>
      <ul class="nav nav-pills nav-stacked">
          
		  <li><a class="pjaxlink" href="/pages/archive.html">{{ site.locals.archive }}</a></li>
		  
		  <li><a class="pjaxlink" href="/pages/categories.html">{{ site.locals.category }}</a></li>
		  
		  <li><a class="pjaxlink" href="/pages/tags.html">{{ site.locals.tags }}</a></li>
		  
		  <li><a class="pjaxlink" href="/pages/about.html">{{ site.locals.about }}</a></li>
		  
      </ul>
      <div class="aside1_bottom">
        <table class="table table-condensed">
          <tr>
            <td><a href="/pages/atom.xml" target="_blank"><i class="fa fa-rss fa-2x"></i></a></td>
            <td><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o fa-2x"></i></a></td>
          </tr>
        </table>
      </div>
</div>