---
title: 分类
layout: page
---

<div id='tag_cloud'>
{% for cat in site.categories %}
<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
{% endfor %}
</div>

<ul class="listing2">
{% for cat in site.categories %}
  <li class="listing-seperator" style="padding: .2em 2em; list-style-type: none; font-weight: bold;" id="{{ cat[0] }}">{{ cat[0] }}</li>
{% for post in cat[1] %}
  <li class="listing-item" style="padding: .2em 2em; list-style-type: none;">
  <time style="color: #999999;" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  <a style="padding: .2em 1em; color: #dd0000; text-decoration: none;" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}
{% endfor %}
</ul>

