---
title: 首页
layout: base
---
<style>
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{
  padding:.2em 1em;
  color: #dd0000;
  text-decoration: none;
}
.post{padding:.5em 0em;}
.post ul{padding:.5em 0em;}
.post {
  font-size: 16px;
  line-height: 24px;
}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.post .listing2{padding:.5em 0em;border-style:none;}

.paginator {
font: 14px Arial,Helvetica,sans-serif;
color: #AAA;
margin: 20px 0;
line-height: 150%;
display: block;
}

.paginator a,.paginator span{
padding: 0 4px;
margin: 2px;
text-decoration: none;
}

.paginator .current-page {
color: white;
background: #ff0000;
}

.paginator a:hover{
color: white;
background: #83BF73;
}

</style>
<div class="post">
<!-- {{ paginator.total_posts }} -->
<ul class="listing2">
{% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
  {% endif %}
  <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    {% if site.truncate %}
    <p>{{ post.content | strip_html | truncate: site.truncate }}</p>
    {% endif%}
  </li>
{% endfor %}
</ul>

<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.baseurl }}/"><前页</a>
    {% else %}
    <a href="{{ site.baseurl }}/page{{paginator.previous_page}}">&lt;前页</a>
    {% endif %}
  {% else %}
    <span class="previous disabled">&lt;前页</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="{{ site.baseurl }}/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="{{ site.baseurl }}/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="{{ site.baseurl }}/page{{paginator.next_page}}">后页&gt;</a>
  {% else %}
    <span class="next disabled" >后页&gt;</span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>
</div>