---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-12">
    <div id="content">
      {{ content }}
    </div>
    <hr>
	
	{% include catetags.html %}
	{% include related-posts.html %}
    {% include disqus.html %}
    {% include duoshuo.html %}
	
  </div>
  <!-- 目录 -->
  <div id="catalog" class="my-content-table" style="display: none;">
    <div class="panel panel-success">
      <div class="panel-body my-c-panel-body" id="nav"></div>
    </div>
  </div>
  <div class="catalog-btn-div">
    <button id="catalog_btn" class="btn btn-lg" style="height:45px;width:45px;"><i class="fa fa-angle-down"></i></button>
  </div>
</div>

